<div class="main-content">
  <%= render 'admin/shared/left_side_bar', attendances: 'active' %>
  <div class="right-side-content">
    <div class="container container-wrapper card">
      <div class="main-content-header">
        <h2>Edit Attendance</h2>
      </div>
      <div class="employee-information">
        <%= render 'admin/attendance/edit/attendance_form', employee: @employee %>
      </div>
    </div>
  </div>
</div>
