<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Attendance List</title>
</head>
<body>
  <div class="main-content">
    <%= render 'shared/admin/left_side_bar', attendances: 'active' %>

    <div class="right-side-content">
      <div class="container container-wrapper card">
        <div class="main-content-header">
          <h2>Attendance List</h2>
          <div class="main-content-header-inputs">
            <form class="form-inline my-2 my-lg-0 main-content-header-input">
              <input class="form-control mr-sm-2" type="search" placeholder="Search by employee" aria-label="Search">
              <div class="form-row main-content-header-input">
                <div class="form-group">
                  <label for="inputStartDate">Start date</label>
                  <input type="date" class="form-control" id="inputStartDate">
                </div>
                <div class="form-group">
                  <label for="inputEndDate">End date</label>
                  <input type="date" class="form-control" id="inputEndDate">
                </div>
              </div>
              <button class="main-content-header-input btn btn-dark">Search</button>
            </form>
          </div>
        </div>
        <table class="table table-hover table-employees">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Employee</th>
              <th scope="col">Date</th>
              <th scope="col">Punch in time</th>
              <th scope="col">Punch out time</th>
              <th scope="col">Status</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>01/12/2023</td>
              <td>09:00 am</td>
              <td>06:00 pm</td>
              <td>Present</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Jacob</td>
              <td>01/12/2023</td>
              <td>09:00 am</td>
              <td>06:00 pm</td>
              <td>Present</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Thomas</td>
              <td>01/12/2023</td>
              <td>09:00 am</td>
              <td>06:00 pm</td>
              <td>Present</td>
            </tr>
            <tr>
              <th scope="row">4</th>
              <td>Jerry</td>
              <td>01/12/2023</td>
              <td>09:00 am</td>
              <td>06:00 pm</td>
              <td>Present</td>
            </tr>
            <tr>
              <th scope="row">5</th>
              <td>Aparna</td>
              <td>01/12/2023</td>
              <td>09:00 am</td>
              <td>06:00 pm</td>
              <td>Present</td>
            </tr>
            <tr>
              <th scope="row">6</th>
              <td>Thesingh</td>
              <td>01/12/2023</td>
              <td>09:00 am</td>
              <td>06:00 pm</td>
              <td>Present</td>
            </tr>
            <tr>
              <th scope="row">7</th>
              <td>Sanjay</td>
              <td>01/12/2023</td>
              <td>09:00 am</td>
              <td>06:00 pm</td>
              <td>Present</td>
            </tr>
          </tbody>
        </table>
        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-center">
            <li class="page-item disabled">
              <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
              <a class="page-link" href="#">Next</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</body>
</html>
