<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Employee Creation Page</title>
</head>
<body>
  <div class="main-content">
    <div class="left-side-bar">
      <a href="/" class="list-group-item active"> <span>Dashboard</span></a>
      <a href="/admin/employee" class="list-group-item"> <span>Employees</span></a>
      <a href="/admin/attendance" class="list-group-item"> <span>Attendances</span></a>
    </div>
    <div class="right-side-content">
      <div class="container container-wrapper card">
        <div class="main-content-header">
          <h2>Dashboard</h2>
        </div>
          <ul>
            <li>
              <a href='/admin/employee/new'>Employee Creation Page</a>
            </li>
            <li>
              <a href='/admin/employee'>Employee Listing Page</a>
            </li>
            <li>
              <a href='/admin/employee/1/edit'>Employee Edit Page</a>
            </li>
            <li>
              <a href='/admin/employee/1'>Employee View Page</a>
            </li>
            <li>
              <a href='/admin/attendance'>Attendances Listing Page</a>
            </li>
            <li>
              <a href='/admin/attendance/1/edit'>Attendance Edit Page</a>
            </li>
          </ul>
      </div>
    </div>
  </div>
</body>
</html>
