<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin Dashboard</title>
</head>
<body>
  <h1>Dashboard</h1>
  <ul>
    <li>
      <a href='/admin/employee/new'>Employee Creation Page</a>
    </li>
    <li>
      <a href='/admin/employee'>Employee Listing Page</a>
    </li>
    <li>
      <a href='/admin/employee/1/edit'>Employee Edit Page</a>
    </li>
    <li>
      <a href='/admin/employee/1'>Employee View Page</a>
    </li>
    <li>
      <a href='/admin/attendance'>Attendances Listing Page</a>
    </li>
    <li>
      <a href='/admin/attendance/1/edit'>Attendance Edit Page</a>
    </li>
  </ul>
</body>
</html>
