<div class="left-side-bar">
  <a href="/dashboard" class="list-group-item <%= dashboard ||= ''%>"> <span>Dashboard</span></a>
  <a href="/profile" class="list-group-item <%= profile ||= ''%>"> <span>Profile</span></a>
  <a href="/attendance" class="list-group-item <%= attendance ||= ''%>"> <span>Attendance</span></a>
</div>
