<div class="card w-50">
  <div class="card-title-graph"><%= title %></div>
  <div class="card-body dashboard-graph">
    <% working_hours_array = @attendances.map {|day| [day[:date],day.working_hours]} %>
    <%= line_chart working_hours_array if type == 'line'%>
    <%= pie_chart @attendances.group(:attendance_status).count, colors: ["#b00", "#666"]  if type == 'pie'%>
  </div>
</div>
