<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Attendance List</title>
</head>
<body>
  <div class="main-content">
    <%= render 'employee/shared/left_side_bar', attendance: 'active' %>

    <div class="right-side-content">
      <div class="container container-wrapper card">
        <div class="main-content-header">
          <h2>Attendance List</h2>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
