<div class="main-content">
  <%= render 'employee/shared/left_side_bar', attendance: 'active' %>
  <div class="right-side-content">
    <div class="container container-wrapper card">
      <div class="main-content-header">
        <h2>Mark Attendance</h2>
      </div>
      <div class="employee-information">
        <%= render 'employee/attendance/new/attendance_form' %>
      </div>
    </div>
  </div>
</div>
