<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit Employee</title>
</head>
<body>
  <div class="main-content">
    <%= render 'admin/shared/left_side_bar', employees: 'active' %>

    <div class="right-side-content">
      <div class="container container-wrapper card">
        <div class="main-content-header">
          <h2>Edit Employee</h2>
        </div>
        <div class="employee-information">
          <%= render 'admin/employee/edit/employee_form', employee: @employee %>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
