<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Employee List</title>
</head>
<body>
    <div class="main-content">
    <%= render 'shared/admin/left_side_bar', employees: 'active' %>

    <div class="right-side-content">
      <div class="container container-wrapper card">
        <div class="main-content-header">
          <h2>Employee List</h2>
          <div class="main-content-header-inputs">
            <form class="form-inline my-2 my-lg-0 main-content-header-input">
              <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            </form>
            <button class="main-content-header-input btn btn-success">+ Add Employee</button>
          </div>
        </div>
        <table class="table table-hover table-employees">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">First Name</th>
              <th scope="col">Last Name</th>
              <th scope="col">Email</th>
              <th scope="col">Phone Number</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>Otto</td>
              <td>mark@gmail.com</td>
              <td>283738495</td>
              <td>
                <div class="action-icons">
                  <a href="#"><i class="bi bi-eye"></i></a>
                  <a href="#"><i class="bi bi-pencil"></i></a>
                  <a href="#"><i class="bi bi-trash"></i></a>
                </div>
              </td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Jacob</td>
              <td>Thornton</td>
              <td>jacob@gmail.com</td>
              <td>4835978454</td>
              <td>
                <div class="action-icons">
                  <a href="#"><i class="bi bi-eye"></i></a>
                  <a href="#"><i class="bi bi-pencil"></i></a>
                  <a href="#"><i class="bi bi-trash"></i></a>
                </div>
              </td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Thomas</td>
              <td>Piper</td>
              <td>thomas@gmail.com</td>
              <td>7732939299</td>
              <td>
                <div class="action-icons">
                  <a href="#"><i class="bi bi-eye"></i></a>
                  <a href="#"><i class="bi bi-pencil"></i></a>
                  <a href="#"><i class="bi bi-trash"></i></a>
                </div>
              </td>
            </tr>
            <tr>
              <th scope="row">4</th>
              <td>Jerry</td>
              <td>Mathew</td>
              <td>jerry@gmail.com</td>
              <td>7483748293</td>
              <td>
                <div class="action-icons">
                  <a href="#"><i class="bi bi-eye"></i></a>
                  <a href="#"><i class="bi bi-pencil"></i></a>
                  <a href="#"><i class="bi bi-trash"></i></a>
                </div>
              </td>
            </tr>
            <tr>
              <th scope="row">5</th>
              <td>Aparna</td>
              <td>Hari</td>
              <td>aparna@gmail.com</td>
              <td>5893443993</td>
              <td>
                <div class="action-icons">
                  <a href="#"><i class="bi bi-eye"></i></a>
                  <a href="#"><i class="bi bi-pencil"></i></a>
                  <a href="#"><i class="bi bi-trash"></i></a>
                </div>
              </td>
            </tr>
            <tr>
              <th scope="row">6</th>
              <td>Thesingh</td>
              <td>Raja</td>
              <td>thesingh@gmail.com</td>
              <td>934839855</td>
              <td>
                <div class="action-icons">
                  <a href="#"><i class="bi bi-eye"></i></a>
                  <a href="#"><i class="bi bi-pencil"></i></a>
                  <a href="#"><i class="bi bi-trash"></i></a>
                </div>
              </td>
            </tr>
            <tr>
              <th scope="row">7</th>
              <td>Sanjay</td>
              <td>Samsung</td>
              <td>sanjay@gmail.com</td>
              <td>9334785749</td>
              <td>
                <div class="action-icons">
                  <a href="#"><i class="bi bi-eye"></i></a>
                  <a href="#"><i class="bi bi-pencil"></i></a>
                  <a href="#"><i class="bi bi-trash"></i></a>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-center">
            <li class="page-item disabled">
              <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
              <a class="page-link" href="#">Next</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</body>
</html>
