<div class="row">
  <div class="col-sm-3">
    <p class="mb-0"><%= title %></p>
  </div>
  <div class="col-sm-9">
    <p class="text-muted mb-0"><%= value %></p>
  </div>
</div>

<% if hr %>
<hr>
<% end %>
