<div class="left-side-bar">
  <a href="/admin/dashboard" class="list-group-item <%= dashboard ||= ''%>"> <span>Dashboard</span></a>
  <a href="/admin/employee" class="list-group-item <%= employees ||= ''%>"> <span>Employees</span></a>
  <a href="/admin/attendance" class="list-group-item <%= attendances ||= ''%>"> <span>Attendances</span></a>
</div>
