<header>
  <nav class="navbar navbar-expand-lg navbar-light px-5 justify-content-between navbar-custom">
      <%= link_to (current_admin ? admin_dashboard_path : 
                  (current_employee ? dashboard_path : root_path)), 
                  class: "navbar-brand" do %>
        <i class="bi bi-calendar-check-fill calendar-icon"></i>
        Attendance Tracker
      <% end %>
    <% if current_employee || current_admin %>
    <div id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle nav-link-title" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="bi bi-person-circle"></i>
            <%= current_employee ? current_employee[:first_name] : current_admin[:first_name] %>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">View profile</a>
            <div class="dropdown-divider"></div>
            <%= button_to "Sign Out", current_admin ? destroy_admin_session_path : destroy_employee_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      </ul>
    </div>
    <% end %>
  </nav>
</header>
